html,
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
}

.container {
    width: 42em;
    margin: auto;
}

.nav {
    padding: 1em;
    text-align: right;
}

.nav>span {
    padding-left: 1em;
}

p,
li {
    line-height: 2.0;
}

h1 {
    text-align: center;
    border-bottom: 4px solid black;
    padding-bottom: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: crimson;
}
