---
const { title } = Astro.props.frontmatter;
---

<html lang="en">
    <head>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Sean Shahkarami | {title}</title>
    </head>
    <body class="bg-amber-100 text-gray-800">
        <div class="max-w-prose mx-auto px-8">
            <header
                class="flex flex-wrap justify-between items-center border-b-4 border-dotted border-gray-800 p-4 font-bold"
            >
                <div>
                    <a href="/">Sean Shahkarami</a>
                </div>
                <nav>
                    <ul class="flex flex-wrap gap-12">
                        <li>
                            <a href="/projects">Projects</a>
                        </li>
                        <li>
                            <a href="/teaching">Teaching</a>
                        </li>
                        <li>
                            <a href="/resume">Resume</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main
                class="mt-5 prose prose-a:text-indigo-600 hover:prose-a:text-indigo-500"
            >
                <slot />
            </main>
        </div>
    </body>
</html>
