---
const { title } = Astro.props.frontmatter;
---

<html lang="en">
    <head>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Sean Shahkarami | {title}</title>
    </head>
    <body>
        <header
            class="flex flex-wrap justify-between items-center p-6 text-white bg-slate-700 shadow-md"
        >
            <div class="text-2xl font-bold">
                <a href="/">Sean Shahkarami</a>
            </div>
            <nav>
                <ul class="flex flex-wrap gap-12">
                    <li class="text-lg">
                        <a href="/projects">Projects</a>
                    </li>
                    <li class="text-lg">
                        <a href="/teaching">Teaching</a>
                    </li>
                    <li class="text-lg">
                        <a href="/resume-sean-shahkarami.pdf">Resume</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="p-8 mx-auto max-w-3xl">
            <article class="prose prose-lg">
                <slot />
            </article>
        </main>
    </body>
</html>
